<h1>Recibo de estacionamento</h1>

<div class="dados">
    <h2>Dados do motorista</h2>
    <h3>Nome: {{}}</h3>
    <h3>Placa do veículo: {{placaVeiculo}}</h3>
</div>

<div class="dados">
    <h2>Dados do pagamento</h2>
    <h3>Valor: {{valorPagamento}}</h3>
    <h3>Tipo de pagamento: {{tipoPagamento}}</h3>
    <h3>Forma de pagamento: {{formaPagamento}}</h3>
</div>

<div class="dados">
    <h2>Dados do estacionamento</h2>
    <h3>Tipo de estacionamento: {{tipoEstacionamento}}</h3>
    <h3>Horário de entrada: {{horaInicial}}</h3>
    <h3>Horário de saída: {{horaFinal}}</h3>
</div>
