<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1"><i class="bi bi-car-front-fill icon-margin-right"></i>Parquímetro | Home</span>
</nav>

<div class="container">
    <div class="row">
        <button type="button" routerLink="/veiculos" class="btn btn-primary btn-lg btn-block">Cadastro de Veículos</button>
        <button type="button" routerLink="/condutores" class="btn btn-primary btn-lg btn-block">Cadastro de Condutores</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">Exemplo 3</button>
        <button type="button" routerLink="/tempos" class="btn btn-primary btn-lg btn-block">Cadastro de Tempo</button>
    </div>
</div>