<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1"><i class="bi bi-car-front-fill icon-margin-right"></i>Parquímetro | Cadastro de Veículos</span>
</nav>

<div class="container">
    <div class="alert alert-success" role="alert" *ngIf="messageAlert">Veículo cadastrado com sucesso
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="div row">
        <div class="col-12 text-right">
            <button type="button" class="btn btn-secondary text-right" routerLink="/home"><i
                    class="bi bi-arrow-counterclockwise icon-margin-right"></i>Voltar</button>
        </div>

        <div class="form-group col-3">
            <label for="placa">Placa</label>
            <div class="input-group-append">
                <input type="text" class="form-control" id="placa" [(ngModel)]="veiculo.placa">
                <button id="pesquisar" class="btn btn-primary" type="button"><i class="bi bi-search"></i></button>
            </div>
        </div>
        <div class="form-group col-4">
            <label for="marca">Marca</label>
            <input type="text" class="form-control" id="marca" [(ngModel)]="veiculo.marca">
        </div>
        <div class="form-group col-5">
            <label for="modelo">Modelo</label>
            <input type="text" class="form-control" id="modelo" [(ngModel)]="veiculo.modelo">
        </div>
        <div class="form-group col-4">
            <label for="anoFabricacao">Ano Fabricação</label>
            <input type="text" class="form-control" id="anoFabricacao" [(ngModel)]="veiculo.anoFabricacao">
        </div>
        <div class="form-group col-4">
            <label for="anoModelo">Ano Modelo</label>
            <input type="text" class="form-control" id="anoModelo" [(ngModel)]="veiculo.anoModelo">
        </div>
        <div class="form-group col-md-4">
            <label for="cor">Cor</label>
            <select id="cor" class="form-control" [(ngModel)]="veiculo.cor">
                <option selected>Escolha a Cor</option>
                <option>Azul</option>
                <option>Preto</option>
            </select>
        </div>

        <div class="col-12 text-right button-group">
            <button type="button" class="btn btn-primary" (click)="salvar()">Salvar</button>
            <button type="button" class="btn btn-primary" (click)="alterar()">Alterar</button>
            <button type="button" class="btn btn-primary" (click)="excluir()">Excluir</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Placa</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Ano Fabricação</th>
                <th scope="col">Ano Modelo</th>
                <th scope="col">Cor</th>
                <th scope="col">Data de Cadastro</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let veiculo of listaDeVeiculos">
                <td></td>
                <td>{{veiculo.placa}}</td>
                <td>{{veiculo.marca}}</td>
                <td>{{veiculo.modelo}}</td>
                <td>{{veiculo.anoFabricacao}}</td>
                <td>{{veiculo.anoModelo}}</td>
                <td>{{veiculo.cor}}</td>
                <td>{{veiculo.dataCadastro}}</td>
            </tr>
        </tbody>
    </table>
</div>