<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Parquímetro - Cadastro de Veículos</span>
</nav>

<div class="container">
    <div class="row">
        <div class="form-group col-3">
            <label for="placa">Placa</label>
            <div class="input-group-append">
                <input type="text" class="form-control" id="placa" [ngModel]="veiculo.placa">
                <button id="pesquisar" class="btn btn-primary" type="button"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </div>

    <div class="div row">
        <div class="form-group col-4">
            <label for="marca">Marca</label>
            <input type="text" class="form-control" id="marca" [ngModel]="veiculo.marca">
        </div>
        <div class="form-group col-4">
            <label for="modelo">Modelo</label>
            <input type="text" class="form-control" id="modelo" [ngModel]="veiculo.modelo">
        </div>
        <div class="form-group col-md-4">
            <label for="cor">State</label>
            <select id="cor" class="form-control" [ngModel]="veiculo.cor">
                <option selected>Escolha a Cor</option>
                <option>Azul</option>
                <option>Preto</option>
            </select>
        </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="salvar()">Salvar</button>


    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>